.card-category {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-size: cover;
  .link-list {
    text-decoration: none;
    color: white;
  }
}

.movie-poster {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: bottom;
}

.card-movie {
  position: relative;
  width: 350px;
  height: 250px;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }

  .card-text {
    padding: 10px 10px;
  }

  .delete {
    position: absolute;
    top: -7px;
    right: -5px;
    padding: 3px 7px;
    text-decoration: none;
    color: red;
    border-radius: 50%;
    background-color: rgb(229, 229, 229);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.flex-box {
  display: flex;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}
